include ../mixins/navigation

doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    script(src='/public/bower_components/jquery/dist/jquery.min.js')
    script(src='public/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src="/public/js/requester.js")
    script(src="/public/js/app.js")
    link(href='/public/bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' media='all')
    link(href='/public/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' media='all')
    link(href='/public/css/main.css' rel='stylesheet' media='all')
    link(href='/public/css/theme-css/themify-icons.css' rel='stylesheet' media='all')
    link(href='/public/css/theme-css/theme.css' rel='stylesheet' media='all')
body
    header
        +main-navigation

        block content
        script(src="/public/js/theme-js/scripts.js")
        script(src="/public/js/theme-js/smooth-scroll.min.js")



