doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    script(src='/public/bower_components/jquery/dist/jquery.min.js')
    script(src='public/bower_components/bootstrap/dist/js/bootstrap.min.js')
    link(href='/public/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='/public/css/main.css' rel='stylesheet')
    block login-css
body
    header
        nav.navbar.navbar-default
            ul.nav.navbar-nav
                li
                    a(href="/campaigns") Home
                li
                    a(href="/user/settings") User Settings
                li
                    a(href="/auth/login") Login
                li
                    a(href="/auth/register") Register
    .wrapper
        block content

        script(src="/public/js/requester.js")
        script(src="/public/js/app.js")