<!DOCTYPE html>
html(lang="en")
head 
    meta(charset="UTF-8")
    title Document
    script(src="/public/bower_components/jquery/dist/jquery.min")
    script(src="/public/bower_components/bootstrap/dist/js/bootstrap.min")
    script(src="/public/bower_components/bootstrap/dist/css/bootstrap.min")
body
    header
        nav.navbar.navbar-default
            ul.nav.navbar-nav
                li
                    a(href="/") Home
                li
                    a(href="/Iniciatives") Iniciatives
    .wrapper
        block content