doctype
html
    head
        title My Title!
        link(href="/css/styles.css" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
        script(src="/kur.js")
    body
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About
        if(currentUser)
          li
            span= currentUser.username
          li
            form#logout-form(method="post" action="/users/logout")
              a(href="javascript:document.getElementById('logout-form').submit()") Logout
        else 
          li
            a(href="/users/register") Register
          li
            a(href="/users/login") Log In
    if(globalError)
      h3= globalError
    block main-content

    