ul li {
    display: inline-block
}

.no-padding {
    padding: 0px !important;
}

.signout-button {
    background-color: #EA2A2A !important;
    border-color: #EA2A2A !important;
    color: white;
}

.profile-pic-small {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin: 4px;
}

.profile-small {
    background-color: #47B475 !important;
}

.settings-avatar {
    height: 100px;
}

.hidden {
    visibility: hidden;
}

#error {
    color: red;
    font-weight: bold;
}

.text-green {
    color: #47B475 !important;
    font-weight: bold;
}

.fa.icon-30px {
    font-size: 30px;
}

#email {
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}

.alert {
    display: none;
    padding: 3px;
    background: red;
    color: white;
    margin-bottom: 15px;
    height: 30px;
    font-size: 12px;
}

.settings-profile-pic {
    width: 200px;
    /*border-radius: 10px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
    margin: 5px;
}


/* The close button */

.closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 13px;
    padding: 2px;
    line-height: 8px;
    cursor: pointer;
    transition: 0.3s;
}


/* When moving the mouse over the close button */

.closebtn:hover {
    color: black !important;
}

#about-members {
    position: relative;
    float: left;
    border: 1px solid #BEBEBE;
    margin: 10px;
    padding: 5px;
}

#about-content {
    margin: 10px;
    padding: 5px;
    float: left;
    border: 1px solid #BEBEBE
}

.red {
    color: red;
}

.reported {
    border: 0px;
    background-color: #C9302C;
    color: #fff;
}