extends ../shared/_layout
block content
    div#about-members 
        h1 TEAM  Djagascript:
        h3 Members:
        p Stoyan Ruzmanov (stoyan.ruzmanov)
        p Boris Radev (Boriow)
        p Georgi Yankov (g.yankov951)
        p Stoayn Uzunov (suzunov)
        p Kiril Velichkov (Kiril_Velichkov)
    div#about-content
        h1 Project ingredients:
        p A lot of sleepless nights
        p Several littres of coffee
        p A "few" hours of playing djaga :)
        p Lots of junk food
        p Some stupid questions for Doncho
        p Gosho's ideas
        p Dedication of Stoyan
            span.red s
        p Bobi's awesome front-end skills
        p Kiril's refactoring
