extends ../shared/_layout
block content
    .main-container
      section.cover.fullscreen.image-slider.slider-all-controls.controls-inside
        ul.slides
          li.image-bg.bg-light
            .background-image-holder
              img.background-image(alt='image', src='/public/img/test/cover1.jpg')
            .container.v-align-transform
              .row
                .col-sm-offset-1.text-center.col-sm-10
                  h1.mb40.mb-xs-16.large Gosho e manqk!
                  h6.uppercase.mb16 Ibe gi mnogo!
                  p.lead.mb40 Tuka stana lesh!
                  a.btn.btn-lg.btn-white(href='/campaigns') Start Exploring
          li.overlay.image-bg.bg-dark
            .background-image-holder
              img.background-image(alt='image', src='/public/img/test/cover1.jpg')
            .container.v-align-transform
              .row
                .col-sm-offset-1.text-center.col-sm-10
                  h1.mb40.mb-xs-16.large Tuka nadpisa e bel!
                  h6.uppercase.mb16 Tva moje da se smeni s 1 dvijenie
                  p.lead.mb40 na Li-to slagame klas bg-dark, ako snimkata e tymna!
                  a.btn.btn-lg.btn-white(href='/campaigns') Start Exploring
      .container
        .row        
          .col-sm-12.text-center
            h4.uppercase.mb16 Categories
        .row
          a(href='/campaigns/campaign/category/Wish')
            .col-sm-6.col-md-4.col-lg-2
              .feature-2
                .text-center
                  i.fa.fa-star.icon-30px
                   h5.uppercase Wish
          a(href='/campaigns/campaign/category/Bussiness')
            .col-sm-6.col-md-4.col-lg-2
              .feature-2
                .text-center
                  i.fa.fa-lightbulb-o.icon-30px
                  h5.uppercase Business
          a(href='/campaigns/campaign/category/Sports')                  
            .col-sm-6.col-md-4.col-lg-2
              .feature.feature-2
                .text-center
                  i.fa.fa-futbol-o.icon-30px
                  h5.uppercase Sports
          a(href='/campaigns/campaign/category/Medical')
            .col-sm-6.col-md-4.col-lg-2
              .feature.feature-2
                .text-center
                  i.fa.fa-heartbeat.icon-30px
                  h5.uppercase Medical
          a(href='/campaigns/campaign/category/Medical')                  
            .col-sm-6.col-md-4.col-lg-2
              .feature.feature-2
                .text-center
                  i.fa.fa-plane.icon-30px
                  h5.uppercase Travel
          a(href='/campaigns/campaign/category/Medical')
            .col-sm-6.col-md-4.col-lg-2
              .feature.feature-2
                .text-center
                  i.fa.fa-graduation-cap.icon-30px
                  h5.uppercase Education