extends ../shared/_layout
block content
    .main-container
      section.cover.fullscreen.image-slider.slider-all-controls.controls-inside
        ul.slides
          li.image-bg.bg-dark
            .background-image-holder
              img.background-image(alt='image', src='/public/img/bg-ocean.jpg')
            .container.v-align-transform
              .row
                .col-sm-offset-1.text-center.col-sm-10
                  h1.mb40.mb-xs-16.large I have a dream...
                  h6.uppercase.mb16 Realize it!
                  p.lead.mb40 Create a campaign and raise funds to make your dreams come true!
                  a.btn.btn-lg.btn-filled(href='/home/about') How it works
                .col-xs-6.col-md-4.col-lg-2
                  a(href='/campaigns/campaign/category/Sports')                  
                    .feature.feature-2
                      .text-center
                        i.fa.fa-futbol-o.icon-30px
                .col-xs-6.col-md-4.col-lg-2
                  a(href='/campaigns/campaign/category/Wish')
                    .feature-2
                      .text-center
                        i.fa.fa-star.icon-30px
                .col-xs-6.col-md-4.col-lg-2
                  a(href='/campaigns/campaign/category/Medical')
                    .feature.feature-2
                      .text-center
                        i.fa.fa-heartbeat.icon-30px
                .col-xs-6.col-md-4.col-lg-2
                  a(href='/campaigns/campaign/category/Travel')                  
                    .feature.feature-2
                      .text-center
                        i.fa.fa-plane.icon-30px
                .col-xs-6.col-md-4.col-lg-2
                  a(href='/campaigns/campaign/category/Bussiness')
                    .feature-2
                      .text-center
                        i.fa.fa-lightbulb-o.icon-30px
                .col-xs-6.col-md-4.col-lg-2
                  a(href='/campaigns/campaign/category/Education')
                    .feature.feature-2
                      .text-center
                        i.fa.fa-graduation-cap.icon-30px
          li.overlay.image-bg.bg-light
            .background-image-holder
              img.background-image(alt='image', src='/public/img/bg-cover.jpg')
            .container.v-align-transform
              .row
                .col-sm-offset-1.text-center.col-sm-10
                  h1.mb40.mb-xs-16.large Building bridges
                  h6.uppercase.mb16 Help the world be a better place
                  p.lead.mb40 You can't change the world for all the people, but for them you can!
                  a.btn.btn-lg.btn-filled(href='/campaigns') Check campaigns