mixin main-navigation
    div.nav-container
            nav.bg-dark
                .nav-bar
                    .module.left
                        a(href='/home')
                            img.logo(alt='Dai parata', src='')
                    .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs
                        i.fa.fa-bars
                    .module-group.right
                        .module.left
                            ul.menu
                                li
                                    a(href='/campaigns/create')
                                        | Start a campaign
                                li
                                    a(href='/campaigns')
                                        | Campaigns
                                li
                                    a(href='/about')
                                        | About Us
                        .module.widget-handle.search-widget-handle.left
                            .search
                                i.fa.fa-search
                                span.title | Search Campaign
                            .function
                                .search-form
                                    input(type='text', placeholder='Type Here', id='search-input')  
                        if(loggedUser)
                            .module.left.no-padding
                                form#sign-out-form(action='/auth/logout' method='POST')
                                    ul.menu
                                        li
                                          a(href="/user/profile/" + loggedUser.id)
                                            img(class="profile-pic-small" src="/user/avatar/" + avatar)
                                            = username
                                        li
                                        .module.widget-handle.left
                                            a.btn.signout-button(href="javascript:document.getElementById('sign-out-form').submit()") SIGN OUT
                        else
                            .module.widget-handle.left
                                a.btn.btn-filled(href='/auth/login') SIGN IN