extends ../shared/_layout
include ../mixins/non-detailed-campaign.pug
block content
    section
        .container
            .row
                each campaign in result
                    .col-md-8.col-sm-10.col-sm-offset-1.col-md-offset-2
                        .horizontal-tile
                            .tile-left
                                a(href='/campaigns/campaign/' + campaign._id)
                                    .background-image-holder
                                        img.background-image(alt='image', src='/campaigns/campaign/picture/' + campaign.image)
                            .tile-right.bg-dark
                                .description
                                    h4.mb8 #{campaign.title}
                                    h6.uppercase Category here?
                                    p Short description here?
                                    .progress-bars
                                        .progress.progress-1
                                            .progress-bar(data-progress='70.56123123123456')
                                                span #{campaign.funded} $ / GOAL $