extends ../shared/_layout
include ../mixins/non-detailed-campaign.pug
block content
    section
        .container
            .row
                each campaign in result
                    .col-sm-12.col-md-10.col-md-offset-1.mb16
                        .horizontal-tile
                            .tile-left
                                a(href='/campaigns/campaign/' + campaign._id)
                                    .background-image-holder
                                        img.background-image(alt='image', src='/campaigns/campaign/picture/' + campaign.image)
                            .tile-right.bg-dark
                                .description
                                    h4.mb8 #{campaign.title}
                                    p Short description here?
                                    .progress-bars
                                        .progress.progress-2
                                            span #{campaign.funded} / #{campaign.target} $
                                            .bar-holder
                                                .progress-bar(data-progress= campaign.percentage)