extends ../shared/_layout

block content
    form.mt16(action="/campaigns/create", method = "POST",  enctype="multipart/form-data")
        .container
            .row
                .col-sm-6
                    h4.uppercase.mb16 Title
                    input#title(type='text', name='title', placeholder='Add title', required)
                    h4.uppercase.mb16 Target
                    input#target(type='number', name='target', style='width: 100%', required)
                    h4.uppercase.mb16 Category
                    .select-option
                        i.ti-angle-down
                        select(name='category')
                            option(selected='', value='Default') Select An Option
                            option#wish.category-option(value='Wish') Wish
                            option#business.category-option(value='Business') Business
                            option#sports.category-option(value='Sports') Sports
                            option#medical.category-option(value='Medical') Medical
                            option#travel.category-option(value='Travel') Travel
                            option#education.category-option(value='Education') Education
                    textarea(name='description', rows='3', placeholder="Description..." required)
                .col-sm-6
                    h4.uppercase.mb16 Insert image
                    label(for='avatar')
                        input#avatar(type='file', name='avatar')
                    img(src='/public/img/default-campaign.png', alt='Image')
                input#create-campaign.mt8(type='submit', value='Create')