extends ../shared/_layout

block content
     section.cover.fullscreen.image-bg.overlay
        div.container.v-align-transform
            div.row
                div.col-sm-6.col-sm-offset-3
                    div.feature.bordered.text-center
                        h4.uppercase Register Here
                        form.text-left(action='/auth/register' method='POST')
                            input(type='text', name='username', placeholder='Username' required)
                            input(type='text', name='email', placeholder='Email Address' required)
                            input(type='password', name='password' placeholder='Password' required)
                            input(type='password', name ='confirmedPassword' placeholder='Confirm Password' required)
                            input(type='submit', value='Register')
                        p.mb0 By signing up, you agree to our
                            a(href='#') Terms Of Use