extends ../shared/_layout
block content

    form(action="/settings/update", method="POST", enctype="multipart/form-data")
        input(type="file" name="avatar")
        input(type="submit" value="update")
    img(src="/users/avatars/" + avatar)