extends ../shared/_layout
block content 
 
    form.mt24(id="settings-form" action="/user/settings/update", method="POST", enctype="multipart/form-data")
      .container.text-center
        .row.mb16
          .col-sm-12
            img.settings-avatar.mb8(src="/user/avatar/" + avatar, style='width:200px')
            input(type="file" id="avatar" name="avatar")
            hr
          .col-sm-6
            label Registered First Name
            input(type='text', placeholder='First name', name='firstname', id='firstname')
            label Registered Last Name
            input(type='text', placeholder='Last name', name='lastname', id='lastname')
          .col-sm-6
            .form-group
              label Enter Old Password
              input.form-control(type='password', name="oldPassword", id="oldPassword")
              if wrongPassword
                p.mb0(id="wrong-password") You have entered wrong password!
              label Enter New Password
              input.form-control(type='password', name="newPassword", id="newPassword")
              label Confirm New Password
              input.form-control(type='password', name="confirmedNewPassword", id="confirmedNewPassword")
              if passwordsDoNotMatch
                p.mb0(id="wrong-repeated-password") Password do not match!
        hr
        input(type="submit", value="update", id="update-info")
        script(src="/public/js/user-settings.js")