extends ../shared/_layout
block content 
 
    form.mt24(action="/user/settings/update", method="POST", enctype="multipart/form-data")
      .container.text-center
        .row.mb16
          .col-sm-12
            img.settings-avatar.mb8(src="/user/avatar/" + avatar, style='width:200px')
            input(type="file" id="avatar" name="avatar")
            hr
          .col-sm-4
            label Email
            input(type='text', placeholder='New email', name='email')
          .col-sm-4
            label First Name
            input(type='text', placeholder='New first name', name='firstname', id='firstname')
            label Last Name
            input(type='text', placeholder='New Last name', name='lastname', id='lastname')
          .col-sm-4
            .modal-container
              a.btn.btn-lg.btn-modal.btn-warning(href='#') Change Password
              .foundry_modal.text-center
                .form-group.col-md-8
                  label Enter Old Password
                  input.form-control(type='password', name='oldPassowrd')
                  label Enter New Password
                  input.form-control(type='password', name='newPassword')
                  label Confirm New Password
                  input.form-control(type='password', name='repeatedNewPassword')
                  br
                  a.btn.btn-warning(href='#') Save new password
        hr
        input(type="submit" value="update")