extends ../shared/_layout
block content 
 
    form.mt24(action="/user/settings/update", method="POST", enctype="multipart/form-data")
      .container.text-center
        .row.mb16
          .col-sm-12
            img.settings-avatar.mb8(src="/user/avatar/" + avatar, style='width:200px')
            input(type="file" id="avatar" name="avatar")
            hr
          .col-sm-6
            label Registered First Name
            input(type='text', placeholder='{avatar.firstname}', name='firstname', id='firstname')
            label Registered Last Name
            input(type='text', placeholder='{avatar.lastname}', name='lastname', id='lastname')
          .col-sm-6
            .form-group
              label Enter Old Password
              input.form-control(type='password')
              label Enter New Password
              input.form-control(type='password')
              label Confirm New Password
              input.form-control(type='password')
        hr
        input(type="submit" value="update")