include '../mixins/non-detailed-campaign'

div.project-author
    div.media
        div.thumb-left
            img(src="/user/avatar/" + #{user.id} alt= #{user.fullname})
        div.media-body
        div class="author-action">
            <a class="btn btn-red" href="#">Send a Message</a>
    div.projects
        each campaign in campaigns
            +non-detailed-campaign