extends ../shared/_layout

block content
    div.project-author
        div.media
            div.thumb-left
            h4 #{user.username}
            img(class="settings-profile-pic" src="/user/avatar/" + user.avatar)
            br
            br
            div.author-action
            
            if (user.id != loggedUser.id)
                a.btn.btn-red(href="#") Send a Message
            else
                a.btn.btn-lg.btn-warning(href='/user/settings') Update profile
            br
            hr
    div.container
        div.row
            each campaign in campaigns
                div.col-lg-4.col-sm-6
                    a(href="/campaigns/campaign/" + campaign.id)
                        div.w3-card-4
                            img(class="card-img-top" src="/campaigns/campaign/picture/" + campaign.image)
                            div.card-block
                                h4.card-title #{campaign.title}
                                p.card-text #{campaign.description}